<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.ChapterDao">
    <select id="showAll"  resultType="com.baizhi.entity.Chapter">
      SELECT id,title,sizes,duration,downPath,upLoadTime,album_id FROM chapter
    </select>

    <insert id="insert" parameterType="com.baizhi.entity.Chapter">
         insert into chapter(id,title,sizes,duration,downPath,upLoadTime,album_id)
          values (#{id},#{title},#{sizes},#{duration},#{downPath},#{upLoadTime},#{album_id})
     </insert>

    <!--
         <delete id="delete" parameterType="int">
                 delete from banner where id=#{id}
         </delete>
     -->

</mapper>
