<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.dao.GuruDao">

    <select id="queryAll" parameterType="com.baizhi.entity.Guru" resultType="com.baizhi.entity.Guru">
      SELECT id,name,headPic,sex FROM guru
    </select>

    <insert id="insert" parameterType="com.baizhi.entity.Guru">
        insert into guru values (#{id},#{name},#{headPic},#{sex})
    </insert>

   <update id="update" parameterType="com.baizhi.entity.Guru">
        update guru set name=#{name},headPic=#{headPic},sex=#{sex}
        where id=#{id}
    </update>

    <select id="queryOne" resultType="com.baizhi.entity.Guru">
         select id,name,headPic,sex from guru
         where id=#{id}
    </select>

    <delete id="delete" parameterType="String">
            delete from guru where id=#{id}
    </delete>
</mapper>
